* {
  box-sizing: border-box;
  position: relative;
}
.wrap {
  width: 502px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  margin: auto;
  top: 100px;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-size: cover;
  text-align: center;
  background-color: white;
}

.active {
  background-color: blue;
}
.dissable {
  background-color: red;
}
.cellCollor {
  background-color: green;
}

.score {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 26px;
}
